In [1]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import matplotlib.pyplot as plt
from datetime import datetime

pd.set_option('display.max_columns', None)

In [2]:
df = pd.read_csv('../Data/participants_dataset_DES.csv')

In [3]:
df[['LOW', 'HIGH']] = df['DEP_TIME_BLK'].str.split('-', expand=True)

df['YEAR'] = df['YEAR'].fillna(2020).astype(int)
df['MONTH'] = df['MONTH'].fillna(1).astype(int)
df['YEAR_STR'] = df['YEAR'].astype(str)
df['MONTH_STR'] = df['MONTH'].astype(str)
df['DAY_STR'] = df['DAY_OF_WEEK'].astype(str)
df['DATE_STR'] = df['YEAR_STR'] + '-' + df['MONTH_STR'] + '-' + df['DAY_STR']
df['DATE'] = pd.to_datetime(df['DATE_STR'])

# df['AIRLINE_AIRPORT_FLIGHTS_MONTH'] = df['AIRLINE_AIRPORT_FLIGHTS_MONTH'].fillna(df['AIRLINE_AIRPORT_FLIGHTS_MONTH'].mean())

# df['PLANE_AGE'] = df['PLANE_AGE'].fillna(df['PLANE_AGE'].mean())

# df['NUMBER_OF_SEATS'] = df['NUMBER_OF_SEATS'].fillna(df['NUMBER_OF_SEATS'].mean())

# df['CONCURRENT_FLIGHTS'] = df['CONCURRENT_FLIGHTS'].fillna(df['CONCURRENT_FLIGHTS'].mean())

In [4]:
airlines = df['CARRIER_NAME'].unique()
for airline in airlines:
    airline_df = df[df['CARRIER_NAME'] == airline]
    
    plane_age_mean = airline_df['PLANE_AGE'].mean()
    seats_mean = airline_df['NUMBER_OF_SEATS'].mean()
    flights_month_mean = airline_df['AIRLINE_AIRPORT_FLIGHTS_MONTH'].mean()
    conc_flights_mean = airline_df['CONCURRENT_FLIGHTS'].mean()
    
    df.loc[(df['CARRIER_NAME'] == airline) & (df['PLANE_AGE'].isnull()), 'PLANE_AGE'] = plane_age_mean
    df.loc[(df['CARRIER_NAME'] == airline) & (df['NUMBER_OF_SEATS'].isnull()), 'NUMBER_OF_SEATS'] = seats_mean
    df.loc[(df['CARRIER_NAME'] == airline) & (df['AIRLINE_AIRPORT_FLIGHTS_MONTH'].isnull()), 'AIRLINE_AIRPORT_FLIGHTS_MONTH'] = flights_month_mean
    df.loc[(df['CARRIER_NAME'] == airline) & (df['CONCURRENT_FLIGHTS'].isnull()), 'CONCURRENT_FLIGHTS'] = conc_flights_mean

In [5]:
df.isnull().sum()

AIRPLANE_ID                          0
YEAR                                 0
MONTH                                0
DAY_OF_WEEK                          0
DEP_DEL15                            0
DEP_TIME_BLK                         0
DISTANCE_GROUP                   40000
SEGMENT_NUMBER                   40000
CONCURRENT_FLIGHTS                   0
NUMBER_OF_SEATS                      0
CARRIER_NAME                         0
AIRPORT_FLIGHTS_MONTH            40000
AIRLINE_FLIGHTS_MONTH            40000
AIRLINE_AIRPORT_FLIGHTS_MONTH        0
AVG_MONTHLY_PASS_AIRPORT         40000
AVG_MONTHLY_PASS_AIRLINE         40000
FLT_ATTENDANTS_PER_PASS          40000
GROUND_SERV_PER_PASS             40000
PLANE_AGE                            0
DEPARTING_AIRPORT                    0
LATITUDE                             0
LONGITUDE                            0
PREVIOUS_AIRPORT                     0
PRCP                             40000
SNOW                             40000
SNWD                             40000
TMAX                             40000
AWND                             40000
LOW                                  0
HIGH                                 0
YEAR_STR                             0
MONTH_STR                            0
DAY_STR                              0
DATE_STR                             0
DATE                                 0
dtype: int64

In [6]:
df[['LOW', 'HIGH']] = df['DEP_TIME_BLK'].str.split('-', expand=True)

In [7]:
df['PRCP'] = df['PRCP'].fillna(df['PRCP'].mean())
df['SNOW'] = df['SNOW'].fillna(df['SNOW'].mean())
df['TMAX'] = df['TMAX'].fillna(df['TMAX'].mean())
df['AWND'] = df['AWND'].fillna(df['AWND'].mean())

In [8]:
for index, row in df.iterrows():
    if row['SNOW'] == 0:
        df.at[index, 'PRCP_SNOW_RATIO'] = 0
    else:
        df.at[index, 'PRCP_SNOW_RATIO'] = row['PRCP'] / row['SNOW']
        
    
    if (row['TMAX'] == 0):
        df.at[index, 'WIND_CHILL'] = 0
    else:
        df.at[index, 'WIND_CHILL'] = row['TMAX'] - (row['AWND'] * 0.7)
        
    if (row['AIRLINE_AIRPORT_FLIGHTS_MONTH'] == 0):
        df.at[index, 'PLANE_AGE_AIRLINE_AIRPORT_FLIGHTS_MONTH_RATIO'] = 0
    else:
        df.at[index, 'PLANE_AGE_AIRLINE_AIRPORT_FLIGHTS_MONTH_RATIO'] = row['PLANE_AGE'] / row['AIRLINE_AIRPORT_FLIGHTS_MONTH']
    
    hour = int(row['LOW'][:2])
    minute = int(row['LOW'][-2:])
    
    df.at[index, 'TIMESTAMP'] = row['DATE'].replace(hour=hour, minute=minute)

In [9]:
df['SEAT_DISTRIBUTION'] = df['NUMBER_OF_SEATS'] / df['CONCURRENT_FLIGHTS']

In [10]:
seat_dist_min = df['SEAT_DISTRIBUTION'].min()
seat_dist_max = df['SEAT_DISTRIBUTION'].max()


df['SEAT_DISTRIBUTION_NORMALISED'] = (df['SEAT_DISTRIBUTION'] - seat_dist_min) / (seat_dist_max - seat_dist_min)

In [11]:
df = df[[
    'DATE',
    'LOW',
    'HIGH',
    'TIMESTAMP',
    'WIND_CHILL',
    'PRCP_SNOW_RATIO',
    'PLANE_AGE_AIRLINE_AIRPORT_FLIGHTS_MONTH_RATIO',
    'SEAT_DISTRIBUTION',
    'SEAT_DISTRIBUTION_NORMALISED'
]]

In [12]:
today = datetime.today()
date = str(today.date())
hour = str(today.hour)
minute = str(today.minute)

df.to_csv(f'../Submissions/DES22 {date} {hour}-{minute}.csv', index=False)

In [13]:
f'../Submissions/DES22 {date} {hour}-{minute}.csv'

'../Submissions/DES22 2022-04-17 22-12.csv'

In [14]:
df

,DATE,LOW,HIGH,TIMESTAMP,WIND_CHILL,PRCP_SNOW_RATIO,PLANE_AGE_AIRLINE_AIRPORT_FLIGHTS_MONTH_RATIO,SEAT_DISTRIBUTION,SEAT_DISTRIBUTION_NORMALISED
0,2020-01-04,0800,0859,2020-01-04 08:00:00,45.079054,2.530244,0.003939,6.402523,0.024709
1,2020-01-04,0600,0659,2020-01-04 06:00:00,53.549000,0.000000,0.010582,3.040000,0.010549
2,2020-01-04,1200,1259,2020-01-04 12:00:00,71.694000,0.000000,0.117021,9.157895,0.036313
3,2020-01-03,1000,1059,2020-01-03 10:00:00,34.114000,0.000000,0.008772,10.597522,0.042375
4,2020-01-03,2200,2259,2020-01-03 22:00:00,25.347000,0.850000,0.046849,1.750000,0.005117
...,...,...,...,...,...,...,...,...,...
199995,2020-01-03,0800,0859,2020-01-03 08:00:00,49.145000,0.000000,0.010989,20.676284,0.084818
199996,2020-01-06,1700,1759,2020-01-06 17:00:00,40.132000,0.000000,0.003037,7.000000,0.027226
199997,2020-01-01,2200,2259,2020-01-01 22:00:00,48.377050,0.000000,0.004154,7.400000,0.028910
199998,2020-01-07,1600,1659,2020-01-07 16:00:00,38.438000,2.530244,0.003320,1.961538,0.006008
199999,2020-01-06,0900,0959,2020-01-06 09:00:00,43.547050,0.000000,0.001395,14.085551,0.057064